#Section_1 {
    background-color: rgb(245, 240, 230);
}
#Section_2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');  /* Set the background image */
    background-size: cover;  /* Make the image cover the entire div */
    background-position: center;  /* Center the image */
    color: white;  /* Change the text color to contrast the background */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Ensures padding is included in width/height calculations */
}
.Sections {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    width: 100%;
    display: block;
}
ul {
    /* display: inline; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #182b49;
    color: white;
  }

  #Nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
  }

  html {
    scroll-padding-top: 146.667px;  /* Adjust the scroll position by 80px */
}
.IMG {
    max-width: 400px;
}
body {
    font-size: 28px;
}
/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 25px;
}

/* Grid items (each grid box) */
.grid-item {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 2px solid white; /* Optional: add border between grid items */
  max-height: 500px;      /* Set max height */
  overflow-y: auto;
  background-color: #182b49;
  color: white;
}

#Section_3_header {
  margin: 10;
  width: 90%;
  display: block; /* Ensure it's a block element */
}
header:after {
  content: "";
  display: block;
  clear: both;
}

#Section_3 {
  display: block;
  background-color: rgb(245, 240, 230);
}